@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100vh;
}

li{
    list-style-type:none ;
}

.links{
    text-decoration: none;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: gray;
    font-size: 1.2rem;
}

a:hover{
    color: turquoise;
}

header{
    width: 100%;
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100vw;
    height: 60px;
    max-width: 75vw;
    margin: 0 auto;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle-btn{
    color: gray;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
/*DROPDOWN MENU*/
.dropdown-menu{
    position: absolute;
    right: 5rem;
    top:60px;
    height: 0;
    width: 200px;
    background: rgba(138, 136, 136, 0.1);
    border-radius: 12px;
    overflow: hidden;
}

.dropdown-menu.open{
    height:auto;
}

.dropdown-menu li{
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;

}
/*RESPONSIVE DESIGN*/
@media (max-width:992px) {
    .navbar .links{
        display: none;
    }
    .navbar .toggle-btn{
        display: block ;
    }
    .dropdown-menu{
        display: block;
    }
}
